*{/* 
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Press Start 2P', cursive;
   
}
.content{
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    min-height: 300px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.34);
    padding: 20px;

}
.game_title{
    position: relative;
    bottom : 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(83, 193, 28);
    margin-bottom: 30px;
    font-size: 22px;
}
.game_box{
    max-width: 200px;
    padding: 5px;
    float: left;
}
.num{
    margin-bottom: 5px;
    width: 150px;
    height: 50px;
}
.game_details{
    float: right;
    max-width: 280px;
    padding: 5px;
    font-size: 11px;
    line-height: 19px;

}
.btn, .num{
    border-radius: 0.5rem;
    background-color: rgb(53, 221, 86);
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    margin-top: 15px;
}